generative-ai-hub-sdk==1.2.2
tiktoken
pandas
scipy
hana-ml
hdbcli
langchain
ai-core-sdk
shapely
eval_type_backport
langchain-community
ipython
pymupdf
object-store-python
streamlit
sentence_transformers